---
import ExpirienceItem from "./expirienceItem.astro"

const EXPIRIENCE =[
    {
        Date: '04/2023',
        title: 'Front-end developer National Register Center',
        description:'As a front-end developer at the National Registry Center, I was part of a team in charge to develop a system that would measure the public educational system knowledge. The system consisted of a Quiz based on an intelligence bank to measure superior educational knowledge under an Agile methodology and best development practices.',
        link: '',
    },
]
---
<ol class="relative border-s border-gray-200 ml-1"> 
    {
        EXPIRIENCE.map(Expirience=> (
            <li class="mb-10 ms-4">
                <ExpirienceItem {...Expirience}/>
            </li>
        ))
    }                 
   